
*.xcuserstate

FTCoreText.xcodeproj/project.xcworkspace/xcuserdata/yancheng.xcuserdatad/UserInterfaceState.xcuserstate

.DS_Store

FTCoreText.xcodeproj/xcuserdata/yancheng.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

FTCoreText.xcodeproj/xcuserdata/yancheng.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

FTCoreText.xcodeproj/xcuserdata/yancheng.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

*.xcbkptlist
